// COLORS

$lightgray: #E8E8E8;
$bodytext: #575757;
$linktext: #4EE3C8;


$testcolor: blue;

// FONTS

$bodyfont: 'Quattrocento Sans', sans-serif;
$headerfont: 'Julius Sans One', sans-serif;

$testfont: monospace;

// STICKY FOOTER
$footer-height: 50px;
$footer-top-margin: 50px;



// EXTENDS

%headertext {
  text-align: center;
  font-family: $headerfont;
  line-height: 1.5em;
}

%photoborder {
  border: 1px solid darken($linktext, 30);
  border-radius: 15%;
}
