@import "_reset";
@import "_variables";

body {
  max-width: 950px;
  margin: 2% auto;
  font: 16px $bodyfont;
}

html,body {
  height: 100%;
}

#wrapper {
  min-height: 100%;
  #sidebar,  main {
    padding-bottom: $footer-height + $footer-top-margin;
  }
}

header {
  h1 {
      @extend %headertext;
      font-size: 56px;
      span {
        color: darken($linktext, 15);
      }
  }
}

nav {
margin-top: 1.5%;
margin-bottom: 10%;
  ul {
    text-align: center;
      li {
        font: 24px $bodyfont;
        display: inline;
        padding: 5%;
          a {
            color: $linktext;
            &:hover {
              color: lighten($linktext, 9);
            }
            &:active {
              color: darken($linktext, 13);
            }
          }
       }
    }
}

#sidebar {
  max-width: 250px;
  float: left;

      #about {
        margin-bottom: 5%;
        img {
            max-width: 250px;
            @extend %photoborder;
            margin-bottom: 5%;
        }
        h2 {
          @extend %headertext;
          font-size: 25px;
        }
        p {
          text-align: justify;
        }
      }

        #instagram {
          h2 {
            @extend %headertext;
            font-size: 25px;
          }
          iframe {
            @extend %photoborder;
          }
        }
      }

main {
  max-width: 625px;
  float: right;
  padding: 2%;
  @extend %photoborder;
  border-radius: 0%;

  h2 {
    @extend %headertext;
    font-size: 30px;
  }
  h5 {
    text-align: right;
    font-style: italic;
    font-size: 14px;
    margin-bottom: 2%;
    color: $linktext;
  }
}

#footer {
  clear: both;
  height: $footer-height;
  margin-top: -($footer-height);
  position: relative;
  h5 {
    font-style: italic;
    font-size: 14px;
    text-align: center;
    color: $linktext;
  }
}
